<!DOCTYPE html>
<html>
<head>
	<title>beackers</title>                        <meta charset="UTF-8">                         <meta name="viewport" content="width=de
vice-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>
<body>
	<nav>
		<div id="navdiv"></div>
	</nav>

	<details>
		<summary>post new bulletin</summary>
		<form>
		</form>
	</details>

	<details>
		<summary><h2>bulletins</h2></summary>
		<button onclick="">refresh</button>
		<div id="bulletinList"></div>
	</details>

	<script src="{{ url_for('static', filename='nav.js') }}"></script>
	<script>
		addANav("");
	</script>
</body>
</html>
