<!DOCTYPE html>
<html>
<head>
        <title>beackers</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=de
vice-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='bulletinStyle.css') }}">
</head>
<body>
        <nav>
                <div id="navdiv"></div>
        </nav>

        <details>
                <summary>post new bulletin</summary>
                <form action="/bulletinsapi" method="post" enctype="multipart/form-data">
                        <input name="title" type="text" placeholder="title">
			<textarea name="body" placeholder="body"></textarea>
                        <input type="hidden" name="csrf" value="{{ csrf }}">
			<input type="hidden" name="origin" value="{{ uname }}">
			<input type="hidden" name="timestamp" value="None">
                        <input type="submit">
                </form>
        </details>

        <details>
		<summary>bulletins</summary>
                <button id="refresh">refresh</button>
                <div id="bulletinList"></div>
        </details>

	<script src="{{ url_for('static', filename='dompurify.js') }}"></script>
        <script src="{{ url_for('static', filename='nav.js') }}"></script>
        <script src="{{ url_for('static', filename='bulletins.js') }}"></script>
    <script>
        addANav();
        const refresh = document.getElementById("refresh");
        refresh.onclick = loadBulletins;
	document.addEventListener("DOMContentLoaded", loadBulletins);
    </script>
</body>
</html>
