<!DOCTYPE html>
<html>
<head>
	<title>beackers</title>                        <meta charset="UTF-8">                         <meta name="viewport" content="width=de
vice-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>
<body>
	<nav>
		<div id="navdiv"></div>
	</nav>
	<a href="/log">app logs</a>
	<div id="config"></div>

	<script src="{{ url_for('static', filename='nav.js') }}"></script>
	<script src="{{ url_for('static', filename='config.js') }}"></script>
	<script>
		addANav();
		refreshConfig("{{ csrf }}");
	</script>
</body>
</html>
