<!DOCTYPE html>
<html>
<head>
	<title>beackers</title>                        <meta charset="UTF-8">                         <meta name="viewport" content="width=de
vice-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>
<body>
	<nav>
		<div id="navdiv"></div>
	</nav>
	<a href="/log">app logs</a>
	<form action="/controlapi" method="post">
		<input type="text" name="title" value="{{ title }}"><br>
		<label for="chat">Chat enabled?</label>
		<input type="checkbox" name="chat" value="chat = True"><br>
		<label for="bulletins">Bulletins enabled?</label>
		<input type="checkbox" name="bulletins" value="True"><br>
		<input type="submit">
	</form>
	<script src="{{ url_for('static', filename='nav.js') }}"></script>
	<script>
		addANav("");
	</script>
</body>
</html>
