<!DOCTYPE html>
<html>
<head>
	<title>MyOp - feature disabled</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>
<body>
	<nav>
		<div id="navdiv"></div>
	</nav>
<!--
	Body goes here.
-->
	<h1>Function Disabled</h1>
	<p>Sysops chose to disable this function of MyOp. If you need to access it, ask sysop to enable in the control panel.</p><br>
	<a href="/">go home</a><br>
	<a href="/control">control panel</a>
	<script src="{{ url_for('static', filename='dompurify.js') }}"></script>
	<script src="{{ url_for('static', filename='nav.js') }}"></script>
	<script>
		addANav();
	</script>
</body>
</html>
