<!DOCTYPE html>
<html>
<head>
	<title>MyOp - login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>
<body>
    <nav>
        <div id="navdiv"></div>
    </nav>
    {% if not loggedinas %}
    <form action="/login" method="POST">
        <label for="username">Call sign:</label>
        <input type="text" id="username" name="username" value="{{ username }}"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="hidden" name="csrf" value="{{ csrf }}">
        <input type="submit">
    </form>

    {% else %}
    <h2>You're logged in already</h2>
    <h3>Your callsign: {{loggedinas}}</h3>
    {% endif %}
    <script src="{{ url_for('static', filename='dompurify.js') }}"></script>
    <script src="{{ url_for('static', filename='nav.js') }}"></script>
    <script>
        addANav("");
    </script>
</body>
</html>
