<!DOCTYPE html>
<html>
<head>
	<title>MyOp - home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=de
vice-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>
<body>
	<nav>
		<div id="navdiv"></div>
	</nav>

	<h1>MyOp</h1>
	<h2>{{ title }}</h2>
	<ul>
		<li><a href="/chat">live chat</a></li>
		<li><a href="/bulletins">bulletins</a></li>
		<li><a href="/control">control panel</a></li>
	</ul>

	<script src="{{ url_for('static', filename='dompurify.js') }}"></script>
	<script src="{{ url_for('static', filename='nav.js') }}"></script>
	<script>
		addANav("/");
	</script>
</body>
</html>
