<!DOCTYPE html>
<html>
<head>
	<title>beackers</title>                        <meta charset="UTF-8">                         <meta name="viewport" content="width=de
vice-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='mainStyle.css') }}">
</head>
<body>
	<nav>
		<div id="navdiv"></div>
	</nav>
<!--
	Body goes here.
	Don't forget to add in the website URL into the addANav function!!
-->
	<h1>MyOp</h1>
	<ul>
		<li><a href="/chat">see what's cooking in the chat</a></li>
		<li><a href="/bulletins">bulletins</a></li>
		<li><a href="/bulletins">(sysops) set up the operations</a></li>
	</ul>

	<script src="{{ url_for('static', filename='nav.js') }}"></script>
	<script>
		addANav("/");
	</script>
</body>
</html>
